<p>
Madame, Monsieur,
</p>
<p>
Sauf erreur ou omission de notre part, la mise à jour de votre compte-client présente à ce jour un solde débiteur de {{ total_du }} €.
En effet, {% if arr_factures|length == 1 %} 
	la facture  n°{{ arr_factures|first.num }}, du {{ arr_factures|first.dateCreation|date('d/m/Y')  }}, est toujours en attente de règlement.
{% else %}
	les factures suivantes sont toujours en attente de règlement :
	<ul>
	{% for facture in arr_factures %}
		<li>facture  n°{{ facture.num }}, du {{ facture.dateCreation|date('d/m/Y') }}</li>
	{% endfor %}
	</ul>
{% endif %}
</p>
<p>
Pensant qu’il ne s’agit que d’un oubli de votre part, nous comptons sur votre règlement dès réception de ce jour. 
</p>
<p>
Dans le cas où celui-ci aurait été adressé entre temps, nous vous prions de ne pas tenir compte de la présente.
</p>
<p>
Dans l’attente, nous vous prions de croire à l’assurance de nos sincères salutations.
</p>
<p>
{{ app.user }}
</p>